.or {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.lines::after {
    content: '';
    display: block;
    width: 126px;
    border-bottom: 1px solid rgba(28, 52, 84, 0.26);
}
.or-after::after{
    content: "OR";
    font-size: 14px;
    color: rgba(28, 52, 84, 0.26);
    margin: 0 17px;
}